* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background-color: lightsalmon;
  overflow: hidden;
}

button {
  all: unset;
  padding: 2rem 3rem;
  border: solid 2px black;
  font-size: 1.2rem;
  border-radius: 5px;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInleft {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}

.btn1 {
  background-color: lightcoral;
  animation: fadeInUp;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn2 {
  background-color: lightgreen;
  animation: fadeInleft;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn3 {
  background-color: lightseagreen;
}

.btn4 {
  background-color: lightslategrey;
  animation: fadeInDown;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
