* {
  box-sizing: border-box;
  padding: 0;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn1 {
  padding-inline: 40px;
  padding-block: 20px;
  border-width: 0px 0px 0px 0px;
  display: inline-flex;
  font-size: large;
}

#btn1:hover {
  border: solid black;
  border-width: 3px 3px 1px 1px;
  transition-property: border;
  transition-duration: .25s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

#btn2 {
  width: 150px;
}
